# Python Variables

- Variables are containers for holding values
- Variables are created by assigning a value to a particular name

In [ ]:
y = 7
x = 5
a = 9
print(a)
print(x)
print(y)

In [ ]:
x = 5
y = "Hello, World"
x, print(y)

## Rules for variable naming in Python
- A variable must start with a letter or underscore character
- A variable name cannot start with a number but can contain numbers or characters in it.
- Variable names are case sensitive

In [ ]:
#Valid variable names
myname = "Ridwan"
my_name = "Ridwan"
_my_name = "Ridwan"
myName = "Ridwan"
MYNAME = "Ridwan"
myname1 = "Ridwan"
print(_my_name)

In [ ]:
#invalid variable names
2myname = "Ridwan"
my-name = "Ridwan"
my name = "Ridwan"
my.name = "Ridwan"
.myName = "Ridwan"
2myname
my-name

In [ ]:
.myname

## Multiple Values to Multiple Variable Assignment

In [ ]:
name, age, sex = "Ridwan", 24, "Male"
print(name)
print(age)
print(sex)

In [ ]:
country, state, LGA = "Nigeria", "Lagos", "Oshodi"
print(country)
print(state)
print(LGA)

## One Value to Multiple Variable Assignment

In [ ]:
State = Capital = LGA = "Kano"
print(State)
print(Capital)
print(LGA)

In [ ]:
LGA = "Kano"

## Python Comments

- Comments are used for code explanation
- Comments are used to make code more readable
- Comments  are used to prevent code execution

In [ ]:
#2 + 2

In [ ]:
#This is a comment
This is not a comment

In [ ]:
#This is multiline comment
'''This is
a Multiple 
Line commetn
'''

# Python Data Types

- The different ways in which a variable stores data is called data type.
- In Python we have various data types, but the one we will be focusing on for this class are; 
    - String
    - Int
    - Float
    - List
    - Tuple
    - Range
    - dicionary
    - set 
    - boolean

## String
- These are text data types and are usually surrounded by single or double quotation marks

In [ ]:
print("Hi")
print('Hi')

In [ ]:
#assigning a single line string
name = "Mike"
#assigning a multi line string
statement = '''
The quick brown fox
Jumps Over a Lazy Dog ....
'''
print(name)
print(statement)

Elements of a string can be accessed using square brackets

In [ ]:
a[6]

In [ ]:
a = "Hi, Mom"
print(a[4])
print(a[0])

To check the length of a string, you use the `len()` function

In [ ]:
a = "Hi, Mom"
print(len(a))

In [ ]:
len(a)

To check if a particular character or Phrase is in a string, we use the keyword `in`

In [ ]:
sentence = """
The Quick Brown Fox Jumps Over A Lazy Dog
"""
#lets check if Fox is in the variable sentence
"Fox" in sentence

In [ ]:
"Lion" in sentence

A range of string can be indexed using the `:` operator

In [ ]:
b = "Hi, Mom and Dad"
print(b[5:9])
print(b[:6])
print(b[2:])

In [ ]:
b[4:9]

Indexing a string with a negative value, picks a character starting from the right and counting from 1 instead of 0

In [ ]:
b = "Hi, Mom and Dad"
print(b[-5])

In [ ]:
b[-1]

## Numeric Types
- In Python we have 3 numeric types:
    - int
    - float
    - complex
- We will only focus on the integer and float numeric types for now.
- Integers are whole numbers, either positive or negative without decimal points
- float are numbers with decimals, either positive or negative  measured on a continous scale

In [ ]:
x = 5 #integer
y = 5.0 #float
print(type(x))
print(type(y))

Type conversion allows you transform one numeric data type to another

In [ ]:
x = 5 #int
y = 5.0 #float
print(type(x))
print(type(y))

a = float(x)
y = int (x)
print(a)
print(y)
print(type(a))
print(type(y))

In [ ]:
int(5.87)

## Boolean Values
- Any expression that returns `True` or `False` is known as a boolean expression.
- Boolean values are one of these two values `True` or `False`

In [1]:
print("Cat" == "Dog")
print(100 < 4)
type(print(5.0 == 5))

False
False
True

NoneType

# Python Operators
- Operators are used for performing operations between variables and values
- The operators are dvided into the following groups
    - Arithmetic Operators
    - Assignment Operators
    - Comparison Operators
    - Logical Operators
    - Identity Operators
    - Membership Operators
    - Bitwise Operators

## Arithmetic Operators
These are operators used in performing mathematical operations

In [ ]:
print(5 + 5) #addition
print(6 - 3) #subtraction
print(8 * 2) #multiplication
print(10/4) #division
print (4%2) #modular division
print(4**2) #raise to the power
print(11//2) #integer division

## Python Assignment Operators
These are used to assign values to variables

In [ ]:
x = 5

In [ ]:
#addition assignment operator
y += 5
#same as
y = y + 5
y

In [ ]:
y = 2
y = y + 3
y += 3

In [ ]:
#subtraction assignment operator
z = 8
z -= 8

In [ ]:
#same as
z = z - 8
z

In [ ]:
#multiplication assignment operator
b = 8
b *= 8
#same as
b = b * 8
b

In [ ]:
#division assignment operator
c = 8
c /= 8
#same as
c = c / 8
c

## Comparison Operators
They are used in comparing two values, they usually return a boolean value

In [ ]:
print(5 == 7) #equal operator
print(5 != 5) # not equal operator
print(8 > 0.3) # Greater than operator
print(8 < 9) #less than operator
print(9 >= 9) #greater than or equal to operator
print(10 <= 9) #less than equal operator

## Python Logical Operators
These operators are used to combine conditional statements

In [ ]:
# and operator
x < 5 and x > 5

In [ ]:
# or operator
x == 7 or x > 7

In [ ]:
# not operator
not(x < 7)

## Python Membership Operators
These operators are used to test if a particular variable or value is in a sequence

In [ ]:
#in operator
print("Age" in "This is my age")
print(5 in [4,5,6,7])

In [ ]:
#not in operator
"Hi" not in "Hi, Mom and Dad"

### Lists
* Lists are data structures which are mutable or changeagble and contains sequence of elements. 
* A list can be used to store different data types.
- Lists are created using square brackets
- Lists are ordered i.e items have a defined order that can't be changed
- item in a list can be duplicated

In [ ]:
# create a list
states = ["Kano","Abuja","Lagos","Ogun","Gombe",1,2,4,True,False]
print(states)

Items in a list can be selected by indexing

In [ ]:
states[0:4]
states[0] = 5
states

You can also change the items in a list

In [ ]:
states[2] = "Osun"
print(states)

You can check for a list length with the `len()` function

In [ ]:
len(states)

A list can contain various data types

In [ ]:
my_list = [1, "Boy", True, [1,"Girl"]]
print(my_list)

You can check if a variable is a list, using the `type()`function

In [ ]:
type(my_list)

Items in a list can be indexed using the square brackets

In [ ]:
my_list[3]

In [ ]:
my_list[3][1]

## Tuple
- They are used to store variables of various data types
- Tuples are immutable i.e their values can not be changed
- Unlike lists, they are written with round brackets
- tuples are ordered
- Allow duplicate values

In [ ]:
x = (1,"Boy",4,(3,4),[1,2,3])
x

In [ ]:
x[2] = 5

A tuple length can be checked using the `len()` function

In [ ]:
len(x)

Tuples are immutable, values in a tuple can't be changed

In [ ]:
x[4] = 5

Just like lists, the item in a tuple can be indexed using the square brackets

In [ ]:
print(x[2])
print(x[1])
print(x[4])

## Sets
- Sets are used to store multiple items in a single variable
- Sets are unordered i.e you cannot be sure in which order the items appeared and the items can't be referred to or indexed by key
- Duplicates are not allowed in a set
- You can't change items in a set but you can add or remove items
- Sets are written with curly brackets

In [ ]:
my_set = {1, 2, 3, "name","age","age"}
my_set #returns error

In [ ]:
my_set[4]

In [ ]:
#add items
my_set.add("apple")
my_set

In [ ]:
#remove set items
my_set.remove("apple")

## Dictionary
- Stores data values in key: value pairs
- Dictionary is ordered, changeable and does not allow duplicates

In [ ]:
my_dict = {
    "name": "Jacob",
    "second_name": "Amanda",
    "Age": 19,
    "Sex": "Male",
    "Marital Status": "Single"
}

Dictionary items can be accessed by the key names

In [ ]:
my_dict["second_name"]

These items can be changed

In [ ]:
my_dict["name"] = "John"
my_dict

Duplicates can't be allowed

In [ ]:
my_dict = {
    "name": "Jacob",
    "name": "John"
    "Age": 19,
    "Sex": "Male",
    "Marital Status": "Single"
}